/* Vandy.scss
* Basic modern styles
*/
body {
  font-family: "Open Sans", "Calibri", Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .8rem;
  margin-top: 2rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  max-width: 40em;
}

ul {
  margin: 0;
}

form {
  max-width: 100%;
}

input, textarea, fieldset {
  display: block;
  margin-bottom: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
}

input:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="color"]):not([type="file"]), textarea:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="color"]):not([type="file"]), fieldset:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="color"]):not([type="file"]) {
  padding: .9em 1em;
  max-width: 100%;
  width: 40em;
}

section {
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 2rem;
}
